@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/edit.css">

@model HairSalon.Models.Client


<h1>Add a client</h1>

  @using (Html.BeginForm())
{
  @Html.TextBoxFor(model => model.Name, new { placeholder = "Name"})<br>
  <br>
  @Html.TextBoxFor(model => model.Visits, new { @Type = "number", min="0", placeholder ="Visits", style = "width: 183px"})<br>
  <br>
  @Html.DropDownList("StylistId")
  <br>
  <button type="submit" class="btn btn-outline-info add">Add Client</button>
}



<button class="btn btn-outline-info show">@Html.ActionLink("Show All Clients", "Index")</button>